/*Vänstra spalten på hemsidan*/
nav{
   width: 15%;
   height: 100%;
   background-color: aliceblue;
   float: left;
}
a:hover{
   color: black;
   background-color: white;
}
/*Ändrar länkarna i navigationsmenyn*/
li a{
   color: white;
   text-decoration: none;
   display: block;
   background-color: black;
   font-size: 180%;
}
ul{
   list-style: none;
}
h1{
   text-align: center;
}
table{
   border: 1px solid black;
   border-collapse: collapse;
}
/*Ändrar layouten på mittenspalten på startsidan*/
article{
   width: 70%;
   float: left;
}
main p{
   margin: 10px;
   float: left;
}
aside{
   width: 15%;
   float: left;
}
/*Ändrar färgtemat på AIK-sidorna. Appliceras på min body*/
.AIKstyle{
   background-color: black;
   color: yellow;
}
.AIKnav{
   width: 15%;
   height: 100%;
   background-color: yellow;
   float: left;
}
/*Ändrar färgerna för navigationsmenyn på AIK-sidorna*/
.AIKnav a{
   color: black;
   text-decoration: none;
   display: block;
   background-color: yellow;
   font-size: 180%;
}
.AIKnav a:hover{
    background-color: white;
    color: black;
}
.AIKstyle table, th, td{
    border: 1px solid yellow;
}

.Djurgårdenstyle{
   background-color: blue;
   color: yellow;
}

.Djurgårdenstyle a{
   color: blue;
   text-decoration: none;
   display: block;
   background-color: lightblue;
   font-size: 180%;
   transition-duration: 0.5s;
   transition-property: background-color;
   transition-timing-function: ease;
}
.Djurgårdenstyle a:hover{
   background-color: red;
   color: blue;
}

.Djurgårdenstyle nav{
   background-color: lightblue;
 
}

/*Skapar symboler framför alla element i spelschemat*/
aside ul{
   list-style: circle;
   border: 1px solid lightblue;
}
.Djurgårdenstyle header{
   background-color: lightblue;
   color: blue;
   height: 10%;
   margin-top: 0px;
}
/*Ändrar texten till biljetterna på startsidan*/
.pbiljetter{
   font-size: 250%;
}

.divbiljetter img{
   float: left;
}
/*Skapar knappen för att köpa biljetter på startsidan*/
.biljettknapp{
   display: block;
   background-color: red;
   width: 100px;
   height: 40px;
}
.divbiljetter{
   border: 1px solid black;
}



